{% extends 'base.html.twig' %}
{% block body %}
    <p class="red">Hallo dit is de body van mijn webshop!</p>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
{% endblock %}

