{% extends 'base.html.twig' %}

{% block title %}Laouthtmltwig{% endblock %}

{% block content %}
    <h1>Hoi doe ff registreren hier</h1>
    {% block fos_user_content %}{% endblock %}
{% endblock %}